
/*************************************

Color Palette

Light Blue:	#00aeef	rgb(0, 174, 239)
Dark Blue:	#1c75bc	rgb(28, 117, 188)
Orange:	 		#f7941e	rgb(247, 148, 30)
Green:			#82c341	rgb(130,195,65)
Grey:				#666		rgb(102,102,102)

Fonts: 
	Anton
	Montserrat
	Fugaz One

**************************************/



/* Global Styles */

body {
	max-width: 1366px;
	margin: 0 auto;
	font-family: montserrat, sans-serif;
}

#logo {
	max-width: 30%;
	display: inline;
	float: left;
	margin: 2% 0 0 3%;
}

#banner {
	height: 300px;
	width: 100%;
	background: #1c75bc;
}

#tagline {
	position: absolute;
	font-family: Fugaz One, sans-serif;
	color: white;
	font-size: 4em;
	letter-spacing: .05em;
	text-align: center;
	padding-left: 35%;
}

nav {
	display: inline;
	max-width: 60%;
	padding-right: 10%;
}

.navIcon {
	display: inline-block;
    vertical-align: top;
	max-width: 9%;
	margin-left: 5%;
	margin-top: 235px
}


.work {
    max-width: 10%;
}

.contact {
   	max-width: 13%;
    margin-left: 3%;
}

#wrapper {
    margin: 15% 5%;
    height: 300px;
}


footer {
	height: 400px;
	border: 1px solid red;
	background-image: url('images/footer.png');
	font-family: montserrat, sans-serif;
	color: white;
}

footer p {
    margin: 25% 0 0 3%;
}


/* Media queries */

@media (max-width: 960px) {}

@media (min-width: 768px) {}

@media (max-width: 767px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (max-width: 480px) {}